<!-- <div class="horizontal-toggle">
  <span class="checkbox-label">Add App</span>
  <span class="toggle-icon">
    <input type="checkbox" id="aa-cbx" style="display:none" />
    <label for="aa-cbx" class="toggle"><span></span></label>
  </span>
</div> -->
<div class="add-app-cont container">
  <fieldset>
    <legend>
      Select App:<i id="refresh-suggestions" class="fas fa-sync-alt" onclick="GetMobileActionApps()"></i>
    </legend>
    <select id="chosenMmpApp"></select>

    <div class="block ma-buttons" id="button-bar">
      <button class="btn btn-default" id="add-app">Add App</button>
    </div>
  </fieldset>
</div>