<!-- Basic app setting -->
<!-- OS, Country, Date-->
<div class="container">

    <fieldset>
        <legend>OS:</legend>
        <input class="" id="ios" type="radio" name="os" value="ios" checked="checked" />
        <label for="ios">iOS</label>
        <input class="" id="android" type="radio" name="os" value="android" />
        <label for="android">Android</label>
    </fieldset>

    <fieldset>
        <legend>Country Code:</legend>
        <input class="form-control" type="text" name="country" placeholder="Type Country Code Here" required />
    </fieldset>

    <fieldset>
        <legend for="date">Date:</legend>
        <input class="form-control" type="date" name="date" id="date" />
    </fieldset>
</div>

<!-- END Basic app setting-->