<!DOCTYPE html>
<html>

<head>
  <?!= include('header-imports'); ?>
  <?!= include('main-css'); ?>
  <base target="_top" />
</head>

<body>
  <div class="container">
    <form class="form-group">
      <fieldset>
        <legend>OS:</legend>
        <input class="" id="ios" type="radio" name="os" value="ios" checked="checked" />
        <label for="ios">iOS</label>
        <input class="" id="android" type="radio" name="os" value="android" />
        <label for="android">Android</label>
      </fieldset>

      <fieldset>
        <legend>Country Code:</legend>
        <input class="form-control" type="text" name="country" placeholder="Type Country Code Here" />
      </fieldset>

      <div class="horizontal-toggle">
        <span class="checkbox-label">Manage Apps</span>
        <span class="toggle-icon">
          <input type="checkbox" id="ma-cbx" style="display:none" />
          <label for="ma-cbx" class="toggle"><span></span></label>
        </span>
      </div>

      <div class="manage-app-cont">
        <fieldset>
          <legend>
            Select App:<i id="refreshApps" class="fas fa-sync-alt" onclick="GetDocumentApps()"></i>
          </legend>
          <select id="chosenDocApp"></select>

          <legend for="date">Date:</legend>
          <input class="form-control" type="date" name="date" id="date" />

          <div class="block ma-buttons" id="button-bar">
            <button class="btn btn-default" id="loadAppsKeywords">Refresh</button>
            <button class="btn btn-default red-btn" id="delete-app">Delete App</button>
            <button class="btn btn-default green-btn" id="add-to-tracker">Report sent</button>
          </div>
        </fieldset>
      </div>

      <div class="horizontal-toggle">
        <span class="checkbox-label">Add App</span>
        <span class="toggle-icon">
          <input type="checkbox" id="aa-cbx" style="display:none" />
          <label for="aa-cbx" class="toggle"><span></span></label>
        </span>
      </div>

      <div class="add-app-cont">
        <fieldset>
          <legend>
            Select App:<i id="refresh-suggestions" class="fas fa-sync-alt" onclick="GetMobileActionApps()"></i>
          </legend>
          <select id="chosenMmpApp"></select>

          <div class="block ma-buttons" id="button-bar">
            <button class="btn btn-default" id="add-app">Add App</button>
          </div>
        </fieldset>
      </div>

      <?!= include('rec-table-view'); ?>

      <h5 class="success" id="success"></h5>
      <h5 class="error" id="error"></h5>
    </form>
  </div>
  <img src="https://www.wisesample.com/img/waiting.gif" id="loading-indicator" style="display:none" />
</body>
<?!= include('footer-imports'); ?>
<?!= include('main-js'); ?>
<?!= include ('rec-table-js'); ?>
<script>
  $(function () {
    GetDocumentApps();
    $('.add-app-cont').hide();
    $('.manage-app-cont').hide();
    $('.rec-table-cont').hide();
    $('#refreshApps').click(GetDocumentApps);
    $('#delete-app').click(deleteApp);
    $('#loadAppsKeywords').click(loadAppsKeywords);
    $('#add-to-tracker').click(addToTracker);
    $('rec-table-btn').click(createRecommendations);
    $('input[type=radio]').click(osChanged);
    $('refresh-suggestions').click(GetMobileActionApps);
    $('#add-app').click(addApp);

    $('#ma-cbx').click(function () {
      $('.manage-app-cont').toggle('fast', 'swing');
    });
    $('#aa-cbx').click(function () {
      $('.add-app-cont').toggle('fast', 'swing', GetMobileActionApps);
    });
    $('#ck-cbx').click(function () {
      $('.rec-table-cont').toggle('fast', 'swing');
    });
  });
</script>

</html>