<div class="container">
  <fieldset>
    <legend>Ranges:</legend>
    <textarea class="form-control" rows="4" cols="50" name="ranges" placeholder="Insert ranges..."></textarea>
  </fieldset>


  <div class="block" id="button-bar">
    <div style="margin: 3px;">
      <input type="checkbox" name="randomColor" value="Randomize Colors" style="margin: auto 3px auto 0;">Randomize
      Colors?<br>
    </div>
    <button class="btn btn-default" id="hightlighBtn">Highlight</button>
  </div>

  <div class="fluid">
    <h3>Basic Instructions</h3>
    <ol>
      <li>Make sure you have one cell and only one, that contains only the phrase 'Description Link'.
        <br>It supposed to have a hyperlink attached to it, that refers to the Description in which we want
        the keywords to be highlighted.
        <br>Example:
        <img src="https://i.imgur.com/TmEBpkY.png" class="img-fluid" alt="Responsive image">
      </li>

      <li>Insert a Ranges list that conatains keywords you wish to highlight.
        <br>Such as: <img src="https://i.imgur.com/70CGuZg.png" class="img-fluid" alt="Responsive image">
        <div class="well well-sm">
          You can choose if you want to highlight keywords in random colors (by clicking the 'Randomize
          Colors?' checkbox) or in a basic yellow marker color (leave unchecked).
        </div>
      </li>
    </ol>
  </div>
</div>