<!DOCTYPE html>
<html>
<head>
		<!--
			<link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css">
			-->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<link rel="stylesheet" href="//brick.a.ssl.fastly.net/Roboto:400"/>
        <?!= include("main-css"); ?>
		<base target="_top">
	</head>
	<body>
		<div class="container">
        
			<form class="form-group">
                <fieldset>
                  <legend>Ranges:</legend>
                  <label for="keysRange">Keywords Col</label><br>
                  <input type='text' class="form-control" name="keysRange" placeholder="Insert Keywords Range..." size='10'>
                  <label for="keysRange">Output Col</label><br>
                  <input type='text' class="form-control" name="outputRange" placeholder="Insert Output Range..." size='10'>
                </fieldset>
                
				<div class="block" id="button-bar">
					<button class="btn btn-default" id="countBtn">Count</button>
				</div>
				<h5 class="error" id="error"></h5>
			</form>
            
		</div>
	</body>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script>
		$(function() {
          $('#countBtn').click(count);
		});
		
		/**
		 * Runs a server-side function to translate the text on all slides.
		 */
		
        
        function count(){
        google.script.run
		      .withSuccessHandler(handleResponse)
		      .withFailureHandler(handleResponse)
		      .withUserObject(this)
		      .WORDCOUNTER($('input[name=keysRange]').val(), $('input[name=outputRange]').val());
        }
        
        
        
        function handleResponse(msg, element){
        element.disabled = false;
        $('#error').empty()
        .append(msg);
        $('#error').fadeIn().delay(5000).fadeOut();
        }
	</script>
</html>