<div class="container">
  <fieldset>
    <legend>Ranges:</legend>
    <label for="keysRange">Keywords Col</label><br>
    <input type='text' class="form-control" name="keysRange" placeholder="Insert Keywords Range..." size='10'>
    <label for="keysRange">Output Col</label><br>
    <input type='text' class="form-control" name="outputRange" placeholder="Insert Output Range..." size='10'>
  </fieldset>

  <div class="block" id="button-bar">
    <button class="btn btn-default" id="countBtn">Count</button>
  </div>
</div>