<!-- <div class="horizontal-toggle">
  <span class="checkbox-label">Chosen Keywords Generator</span>
  <span class="toggle-icon">
    <input type="checkbox" id="ck-cbx" style="display:none" />
    <label for="ck-cbx" class="toggle"><span></span></label>
  </span>
</div> -->

<div class="rec-table-cont container">
  <fieldset>
    <legend>
      Select App:<i id="refreshApps" class="fas fa-sync-alt" onclick="GetDocumentApps()"></i>
    </legend>
    <select id="chosenDocApp"></select>
  </fieldset>
  <fieldset>
    <legend for="rec-table-ranges">Enter Text Ranges:</legend>
    <textarea type="text" class="form-control" id="rec-table-ranges" cols="50" rows="2"></textarea>

    <legend for="filter-date">Comparison Date:</legend>
    <input class="form-control" type="date" name="filter-date" id="filter-date" />

    <legend for="filters-list">Filters List:<i class="fas fa-plus" id="add-filter-btn"></i></legend>
    <div id="filters-list">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Field</th>
            <th>Condition</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr class="filter" id="filter-1">
            <td><i class="fas fa-minus-circle" id="minus-1"></i></td>
            <td>
              <select name="field" class="custom-select custom-select-sm filter-field">
                <option value="traffic" selected disabled>Traffic</option>
              </select>
            </td>
            <td>
              <select name="cond" class="custom-select custom-select-sm filter-cond">
                <option value="gte" selected disabled>Greater Than or Equal to</option>
              </select>
            </td>
            <td>
              <input type="text" class="form-control input-sm filter-value" name="treshold" placeholder="Value"
                value="5" />
            </td>
          </tr>
          <tr class="filter" id="filter-2">
            <td><i class="fas fa-minus-circle" id="minus-2"></i></td>
            <td>
              <select name="field" class="custom-select custom-select-sm filter-field">
                <option value="rank" selected disabled>Rank</option>
              </select>
            </td>
            <td>
              <select name="cond" class="custom-select custom-select-sm filter-cond">
                <option value="lte" selected disabled>Less Than or Equal to</option>
              </select>
            </td>
            <td>
              <input type="text" class="form-control input-sm filter-value" name="treshold" placeholder="Value"
                value="10" />
            </td>
          </tr>
          <tr class="filter" id="filter-3">
            <td><i class="fas fa-minus-circle" id="minus-3"></i></td>
            <td>
              <select name="field" class="custom-select custom-select-sm filter-field">
                <option value="tdl" selected disabled>Traffic/Length</option>
              </select>
            </td>
            <td>
              <select name="cond" class="custom-select custom-select-sm filter-cond">
                <option value="gte" selected disabled>Greater Than or Equal to</option>
              </select>
            </td>
            <td>
              <input type="text" class="form-control input-sm filter-value" name="treshold" placeholder="Value"
                value="0.8" />
            </td>
          </tr>
          <tr class="filter" id="filter-4">
            <td><i class="fas fa-minus-circle" id="minus-4"></i></td>
            <td>
              <select name="field" class="custom-select custom-select-sm filter-field">
                <option value="pc" selected disabled>Permutation Count</option>
              </select>
            </td>
            <td>
              <select name="cond" class="custom-select custom-select-sm filter-cond">
                <option value="gte" selected disabled>Greater Than or Equal to</option>
              </select>
            </td>
            <td>
              <input type="text" class="form-control input-sm filter-value" name="treshold" placeholder="Value"
                value="30" />
            </td>
          </tr>
          <tr class="filter" id="filter-5">
            <td><i class="fas fa-minus-circle" id="minus-5"></i></td>
            <td>
              <select name="field" class="custom-select custom-select-sm filter-field">
                <option value="rd" selected disabled>Rank Difference (%)</option>
              </select>
            </td>
            <td>
              <select name="cond" class="custom-select custom-select-sm filter-cond">
                <option value="gte" selected disabled>Greater Than or Equal to</option>
              </select>
            </td>
            <td>
              <input type="text" class="form-control input-sm filter-value" name="treshold" placeholder="Value"
                value="50" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="block ma-buttons" id="button-bar">
      <button class="btn btn-default" id="rec-table-btn">Create Recommendations</button>
    </div>
  </fieldset>
</div>