<div class="horizontal-toggle">
  <span class="checkbox-label">Chosen Keywords Generator</span>
  <span class="toggle-icon">
    <input type="checkbox" id="ck-cbx" style="display:none" />
    <label for="ck-cbx" class="toggle"><span></span></label>
  </span>
</div>


<div class="rec-table-cont">
  <fieldset>
    <legend for="rec-table-ranges">Enter Text Ranges:</legend>
    <textarea type='text' class="form-control" id="rec-table-ranges" cols="50" rows="2"></textarea>

    <legend for="filters-list">Filters List:<i class="fas fa-plus" id="add-filter-btn"></i></legend>
    <div id="filters-list">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Field</th>
            <th>Condition</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
    <div class="block ma-buttons" id="button-bar">
      <button class="btn btn-default" id="rec-table-btn">Create Recommendations</button>
    </div>
  </fieldset>
</div>